@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

.App {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
}

.App-header {
  background-color: #2a2d32;
  min-height: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(210, 210, 210);
  font-weight: 500;

}

.challenge-title {

}

.challenge-description {

}

.challenge-form {

}

.challenge-input {
    
}