@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

.App {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  height: 100%;
  min-height: 100vh;
}

.App-header {
  background-color: #2a2d32;
  min-height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(210, 210, 210);
  font-weight: 500;
  padding: 0 0.5rem;
}

.challenges-container1, .challenges-container2, .challenges-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenges-container1 > p {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  background: rgba(0, 0, 0, 0.7)
}

.challenges-container1 > p:first-child {
  margin-top: 2rem;
}

.challenges-container1 {
  background: url('imgs/coding-challenges-bg1.jpg') no-repeat center center fixed;
  background-size: cover;
}

.challenges-container2 {
  background: url('imgs/coding_challenges_wallpaper2.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.challenge-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(148, 148, 148, 0.9); 
  width: 50%;
  margin: 1.5rem 0;
  padding: 1rem;
  border-radius: 10px;
}

.challenge-title {
  font-weight: 900;
  border-width: 1px;
  border-bottom: rgb(255, 255, 255);
  margin: 0;
  padding: 1rem;
  color: white;
}

.challenge-description {
  font-weight: 400;
  color: white;
}

.challenge-form {
  display: flex;
  margin-top: 1rem;
}

.challenge-form > input, .challenge-form > button {
  margin: 0 0.5rem;
}

#challenge-result { 
  margin: 1rem 0 0 0;
}

footer > h4 {
  width: 60%;
  margin: 1.5rem auto;
  font-size: 1.2rem;
  border-bottom: 1px solid grey;
  padding-bottom: 0.8rem;
}

.coding-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  margin: 1.5rem auto;
}